@page
@using Newtonsoft.Json.Linq
@using System.IO
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model MediaStream.Pages.IndexModel
@{
	Random random = new Random();
	string datapath = @"D:\Freestyle\Debug\net6.0\data\";
	Layout = "_Layout";

	string isTextBold(string key, string value, bool fuck = false)
	{
		if (TextRaw(key, value, fuck))
		{
			return "bold";
		}
		else
		{
			return "normal";
		}
	}
	string isTextCol(string key, string value, bool fuck = false)
	{
		if (TextRaw(key, value, fuck))
		{
			return "color:black;";
		}
		else
		{
			return string.Empty;
		}
	}
	bool TextRaw(string key, string value, bool fuck = false)
	{
		if (fuck && HttpContext.Request.Query[key] == Microsoft.Extensions.Primitives.StringValues.Empty)
		{
			return true;
		}
		string ogKey = HttpContext.Request.Query[key].ToString();
		if (ogKey == value)
		{
			return true;
		}
		else
		{
			return false;
		}
	}
}
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0; url=/migration" />
<![endif]-->
<tr>
	<td>
		<div style="float: left; width: 200px; padding-right: 10px;">
			<div class="homeheader"><span style="font-size: 14px;"><strong>Categories</strong></span></div>
			<div style="font-weight: @isTextBold("cat", "all", true); padding-bottom: 2px;"><a onclick="updateParam('cat', 'all')" href="#">All</a></div>
			<div style="font-weight: @isTextBold("cat", "auto"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'auto')" href="#">Autos and Vehicles</a></div>
			<div style="font-weight: @isTextBold("cat", "comedy"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'comedy')" href="#">Comedy</a></div>
			<div style="font-weight: @isTextBold("cat", "education"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'education')" href="#">Education</a></div>
			<div style="font-weight: @isTextBold("cat", "entertain"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'entertain')" href="#">Entertainment</a></div>
			<div style="font-weight: @isTextBold("cat", "film"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'film')" href="#">Film & Animation</a></div>
			<div style="font-weight: @isTextBold("cat", "tutorial"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'tutorial')" href="#">Tutorials & Style</a></div>
			<div style="font-weight: @isTextBold("cat", "music"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'music')" href="#">Music</a></div>
			<div style="font-weight: @isTextBold("cat", "news"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'news')" href="#">News & Politics</a></div>
			<div style="font-weight: @isTextBold("cat", "blog"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'blog')" href="#">People & Blogs</a></div>
			<div style="font-weight: @isTextBold("cat", "pet"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'pet')" href="#">Pets & Animals</a></div>
			<div style="font-weight: @isTextBold("cat", "tech"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'tech')" href="#">Science & Technology</a></div>
			<div style="font-weight: @isTextBold("cat", "sports"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'sports')" href="#">Sports</a></div>
			<div style="font-weight: @isTextBold("cat", "travel"); padding-bottom: 2px;"><a onclick="updateParam('cat', 'travel')" href="#">Travel & Events</a></div>
		</div>

		@{
			List<JObject> groups = new List<JObject>();
			for (int i = 0; i < 16; i++)
			{
				string id = await MediaStream.Controllers.Feeds.RandomPublicGroup();
				FileStream videostream = new(datapath + @"groups\" + id, FileMode.Open, FileAccess.Read);
				byte[] videoresult = new byte[videostream.Length];
				_ = await videostream.ReadAsync(videoresult, 0, (int)videostream.Length);
				string videodata = System.Text.Encoding.UTF8.GetString(videoresult);
				JObject videojson = JObject.Parse(videodata);
				JObject finJson = JObject.Parse("{" + "}");
				finJson.Add("name", videojson["name"].ToString());
				finJson.Add("id", id);
				finJson.Add("views", videojson["views"].ToString());
				finJson.Add("date", videojson["date"].ToString());
				finJson.Add("desc", videojson["desc"].ToString());
				finJson.Add("vids", JArray.Parse(videojson["videosMade"].ToString()).Count.ToString());
				if (videojson["category"] != null)
				{
					finJson.Add("category", videojson["category"].ToString());
				}
				else
				{
					finJson.Add("category", "none");
				}

				groups.Add(finJson);
				videostream.Close();
				videostream.Dispose();
			}
		}

		<div style="display: table-cell;">
			<div class="homeheader">
				<span style="font-size:14px;">
					<span style="font-weight: @isTextBold("sort", "latest");"><a style="@isTextCol("sort", "latest")" onclick="updateParam('sort', 'latest')" href="#">Latest</a></span><span class="textseparator"> | </span><span style="font-weight: @isTextBold("sort", "popular", true);"><a style="@isTextCol("sort", "popular", true)" onclick="updateParam('sort', 'popular')" href="#">Popular</a></span><span class="textseparator"> | </span><span style="font-weight: @isTextBold("sort", "video");"><a style="@isTextCol("sort", "video")" onclick="updateParam('sort', 'video')" href="#">Most Videos</a></span>
				</span>
			</div>
			<hr />
			<div style="display: inline-block;">
				@foreach (JObject group in groups)
				{
					<div style="display: block; float: left; margin-bottom: 8px; width: 360px;">
						<table border="0" cellpadding="0" cellspacing="0" style="float: left;">
							<tbody>
								<tr>
									<td colspan="2"><a href="/group?id=@group["id"].ToString()">@group["name"].ToString()</a></td>
								</tr>
								<tr>
									<td rowspan="2"><a href="/group?id=@group["id"].ToString()"><img alt="" src="~/api/thumb?id=@group["id"].ToString()&type=group" style="width: 64px; height: 64px;" /></a></td>
									<td class="user" rowspan="2">
										<div style="height:32px; overflow: hidden">@group["desc"].ToString()</div>

										<div class="smallgray">@group["vids"].ToString() Videos</div>

										<div class="smallgray">@group["views"].ToString() Views</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				}
				<div style="width:max-content;"></div>
			</div>
			<div>&nbsp;</div>

		</div>
	</td>
</tr>